html {
  padding: 70px 150px;
}

a:hover {
  text-decoration: none;
}

.blogTitle {
  padding-bottom: 15px;
  border-bottom: 2px solid #BCBCBC;
}

.title {
  margin-top: 20px;
  padding-bottom: 15px;
}

.date {
  margin-bottom: 45px;
}

.post {
  margin-bottom: 30px;
  border-bottom: 1px solid #BCBCBC;
}

.newPost {
  text-align: right;
  width: 100%;
  margin-bottom: 50px;
}

.newPostTitle {
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 20px;
}

.submit {
  margin-top: 20px;
}

input[type=text] {
  width: 100%;
  font-size: 28px;
}

textarea {
  width: 100%;
  font-size: 15px;
}

pre {
  font-family: "Helvetica Neue";
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100px;
}
