<!DOCTYPE html>
<html>

  <head>
    <title>My Blog</title>
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet">
  </head>

  <body>
    <a href="/">Home</a>
    <h1 class="title">{{ post.title }}</h1>

    <article>
      <div>
        <p class="date">{{ post.date.strftime('%a. %b %y') }}</p>
        <pre>{{ post.body }}</pre>
      </div>
    </article>

    {% if post.comments|length > 0 %}
      <h2 class="newPostTitle">Comments</h2>
      {% for comment in post.comments %}
        <p class="comment">{{ comment.comment }}<p>
        <p class="commentDate">{{ comment.date.strftime('%a. %b %y') }}<p>
      {% endfor %}
    {% endif %}
    <h3>New Comment</h3>
    <form name="newComment" action="/newcomment/{{ post.id }}" method="post">
      <input class="titleInput" type="text" name="comment" value="" />
      <input class="submit btn btn-success" type="submit" value="Comment" />
    </form>
  </body>
</html>